body{
    background-image:url("hatter.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar ul{
    list-style: none;
    background: grey;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color:  white;
    width: 200px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.navbar a:hover{
    background: rgb(175, 175, 175);
    color: black;
}
.watermark{
    color:black;
    background-color: white;
    text-align: right;
    margin-top: 163px;
}
#naptar{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 80%;
    height: 40%;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
    color:black;
    border: 1px solid black;
  }
  thead{
    text-transform: uppercase;
  }
  table tr, tbody{
    height: 100px;
  }
  table td,tr{
    border: 1px solid black;
  }
  #masHonap{
    color:red;
    background-color: grey;
  }