body {
    font-family: Arial, sans-serif;
    background-color: #FFF8DE;
}

.panel {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #D6E8DB;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    background-color: #C1D0B5;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #99A98F;
}